[Desktop Entry]
Type=Application
Name=Mate Paint Pro
Comment=Create and edit images
X-GNOME-Gettext-Domain=mate-paint
Exec=mate-paint-pro
Icon=/usr/share/mate-paint-pro/data/icons/48x48/mpp.xpm
Terminal=false
Categories=Graphics;2DGraphics;
StartupNotify=true
